global {
    height  : 100%;
    overflow: hidden;
    width: 100%;
    margin:0;
    position: fixed;
    touch-action: none;
    
}
html {
    height  : 100%;
    overflow: hidden;
    margin:0;
    position: fixed;
    touch-action: none;
}
body {
    height  : 100%;
    width: 100%;
    overflow: hidden;
    margin:0;
    position: fixed;
    touch-action: none;
}
plugin{
    height  : 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    touch-action: none;
    margin:0;
}
chalkboard{
    height  : 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    touch-action: none;
    margin:0;
}