global {
    height  : 100%;
    overflow: hidden;
    width: 100%;
    /*margin:0;*/
    position: absolute;
    /**touch-action: none;*/
    
}
html {
    height  : 100%;
    overflow: hidden;
    /*margin:0;*/
    position: absolute;
    /*touch-action: none;*/
}
body {
    height  : 100%;
    width: 100%;
    overflow: hidden;
    /*margin:0;*/
    position: fixed;
}
plugin{
    height  : 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /*margin:0;*/
}
.chalkboard{
    height  : 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /*margin:0;*/
}