html,
body { 
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.scroll {
 overflow: hidden;
 position: fixed;
 height: 100%;
}
